<div class="headerInfoBox">
    <div class="heading companyName">
        {{data['advisoryCompanyName']}}
    </div>
    <div class="heading invoiceHeading alignRight">
        {{data['invoiceHeading']}}
    </div>
</div>
<div class="headerInfoBox">
    <div class="preserveFormat">
        {%- if data['address'] -%}
            {{ data['address'] }}
        {%- endif -%}
    </div>
    <div>
        <div class="alignRight">{{data['date']}}</div>
        <div class="alignRight">{{data['invoiceID']}}</div>
        <div class="alignRight">{{data['poNumber']}}</div>
    </div>  
</div>

<div class="headerInfoBox">
    <div>
        <div>{{data['contactNo']}}</div>
        <div>{{data['email']}}</div>
    </div>
    <div>
        <div class="highlight alignRight">{{data['clientName']}}</div>
        <div class="highlight alignRight">{{data['clientCompanyName']}}</div>
    </div>
</div>


